{% extends "base.html" %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include 'partial/social_login.html' %}
        
        <form method="POST" action="{% url 'users:login' %}" class="w-full">
            {% csrf_token %}
            <input type="email" placeholder="email" class="text-left rounded-sm py-5 font-medium text-lg w-full border border-gray-600 px-5 focus:outline-none focus:border-teal-500 mb-3">
            <input type="password" placeholder="password" class="text-left rounded-sm py-5 font-medium text-lg w-full border border-gray-600 px-5 focus:outline-none focus:border-teal-500 mb-3">
            <button class="text-center rounded-sm py-5 font-bold text-lg w-full bg-red-500 text-white">Login</button>
        </form>
        <div class="mt-5">
            <span class="mr-2">Don't have an account?</span>
            <a href="{% url 'users:signup' %}" class="font-medium hover:text-teal-500">Sign up</a>
        </div>
    </div>
{% endblock content %}